@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  
 /* Logo and Search Bar */
.header2 {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    align-items: center;
    padding: 15px 25px;
}

.npm-logo {
    width: 100px;
    height: auto;
}

.search-bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
}

form {
    display: flex;
    align-items: center;
    width: 100%;
}

form img {
    width: 24px;
    height: auto;
    padding: 10px;
}

form input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 3px;
    background-color: transparent;
    margin-left: 5px;
}

.button-search-bar {
    font-size: 1.3em;
    padding: 12px 20px;
    background-color: #e94e42;
    color: white;
    border: none;
    
}

.button-join-in {
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 10px;
    text-decoration: none;
}
.button-log-in {
    border: none;
    color: black;
    background-color: white;
    padding: 10px;
    text-decoration: none;
}

/* Main Section */
#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(232,217,217,.3);
    text-align: center;
    height: 600px;
}

#section1 h1 {
    font-size: 7em;
    margin-bottom: 20px;
    font-weight: 900;
}
article {
    width: 35%;
}

#section1 article p {
    padding: 0 40px;
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}
.button-view-plans {
    text-decoration: none;
    padding: 15px 55px;
    color: white;
    background-color: #e94e42;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    font-weight: bold;
}
.button-join-free {
    text-decoration: none;
    padding: 15px 55px;
    color: black;
    background-color: white;
    font-weight: bold;
}


/* Secondary Section */
#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    text-align: center;
    height: 600px;
}

#section2 img {
    width: 10%;
    margin-bottom: 20px;
}

#section2 h2 {
    font-size: 2em;
    margin-bottom: 20px;
    padding: 0 30px;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}

#section2 article p {
    padding: 0 40px;
    font-size: 1em;
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;

}

/* Features Section */
#section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    text-align: center;
    height: 600px;
    margin-bottom: 20%;
}

#section3 div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10%;
}

#section3 div div {
    display: flex;
    margin: 20px 10px;
    padding: 0 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#section3 div div img {
    width: 15%;
    margin-bottom: 10px;
}

#section3 h4 {
    color: #ED1C24;
    font-size: 1.1em;
    font-weight: 500;
    text-align: left;

}

#section3 p {
    font-size: 1em;
    font-weight: 400;
    text-align: left;

}

.button-create-org {
    text-decoration: none;
    padding: 15px 150px;
    color: white;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    font-weight: bold;
}